<h2 mat-dialog-title>Earthquake</h2>
<mat-dialog-content>
  <div><em>ID:</em> {{data.eqid}}</div>
  <div><em>Date:</em> {{data.datetime}}</div>
  <div><em>Source:</em> {{data.src}}</div>
  <div><em>Depth:</em> {{data.depth}}</div>
  <div><em>Magnitude:</em> {{data.magnitude}}</div>
  <div><em>Longitude:</em> {{data.lng}}</div>
  <div><em>Latitude:</em> {{data.lat}}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
