* {
  box-sizing: border-box;
}

ol.eq-container {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;

  li {
    list-style: none;
  }
}

.is-magnitude-8 {
  box-shadow: inset -3px -3px 3px 0 crimson;
  color: crimson;
}

/* Mobile Layout */
@media screen and (max-width: 736px) {
  .eq-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--eq-table-grid-gap);

    .item {
      border: 1px solid gray;
      border-radius: 2px;
      padding: 1rem;
    }

    &>li:first-child {
      display: none;
    }

    .attribute::before {
      content: attr(data-name);
    }

    .attribute {
      display: grid;
      grid-template-columns: minmax(9rem, 50%) 1fr;
      padding: .5rem 0;
    }
  }
}

/* Tabular Layout */
@media screen and (min-width: 737px) {
  .header {
    .attribute {
      background-color: lavender;
    }
  }

  .eq-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--eq-table-grid-gap);

    margin: .5rem 0;

    &:not(:first-child) {
      cursor: pointer;
    }

    &:hover:not(:first-child) {
      background-color: lavender;
    }

    &:nth-child(odd):not(:first-child) {
      background-color: #f5fbfc;

      &:hover {
        background-color: lavender;
      }
    }

    .group-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: var(--eq-table-grid-gap);
    }

    .attribute {
      border-right: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: .5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
