<ng-container *ngIf="earthquakes.earthquakeList | async as earthquakeList">
  <ol class="eq-container">
    <li class="eq-list-item header">
      <div class="group-container">
        <div class="attribute">Date</div>
        <div class="attribute">Source</div>
      </div>
      <div class="group-container">
        <div class="attribute">Depth</div>
        <div class="attribute">Magnitude</div>
      </div>
      <div class="group-container">
        <div class="attribute">Longitude</div>
        <div class="attribute">Latitude</div>
      </div>
    </li>

    <li
      class="item eq-list-item"
      *ngFor="let eq of earthquakeList"
      (click)="openDialog(eq)"
    >
      <div class="group-container">
        <div class="attribute" data-name="Date">{{eq.datetime}}</div>
        <div class="attribute" data-name="Source">{{eq.src}}</div>
      </div>
      <div class="group-container">
        <div class="attribute" data-name="Depth">{{eq.depth}}</div>
        <div class="attribute" [class.is-magnitude-8]="eq.magnitude >= 8" data-name="Magnitude">{{eq.magnitude}}</div>
      </div>
      <div class="group-container">
        <div class="attribute" data-name="Longitude">{{eq.lng}}</div>
        <div class="attribute" data-name="Latitude">{{eq.lat}}</div>
      </div>
    </li>
  </ol>
</ng-container>
