:root {
  --mainBodyPadding: 2rem;

  --headerHeight: 6rem;

  --footerHeight: 4rem;
  --footerPadding: .2rem;
  --footerMarginTop: .8rem;

  --eq-table-grid-gap: 1rem;
}

app-root {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden;

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--headerHeight);

    background-color: var(--backgroundColor);
    background-image: url("~assets/images/Wetterstein_mountains_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div {
      font-size: 2.5rem;
      color: aliceblue;
      margin: 0;
      padding: 0;
    }
  }

  app-earthquake {
    flex: 1;
    padding: var(--mainBodyPadding);
    overflow: auto;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: var(--footerHeight);
    padding: 0 var(--mainBodyPadding);
    background-color: var(--backgroundColor);
  }
}



/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
