// Scroll bar Styling for Webkit browsers
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
app-earthquake::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
section::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track
{
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
app-earthquake::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbar,
textarea::-webkit-scrollbar
{
  background-color: var(--backgroundColor);
  width: 10px;
  cursor: pointer;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
app-earthquake::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb
{
  background-color: var(--darkBackgroundColor);
  border-radius: 10px;
  cursor: pointer;
}

// Scroll bar Styling for standards based browsers

html,
body,
app-earthquake,
div,
section,
textarea
{
  scrollbar-width: thin;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
